# ====== Entornos ======
node_modules/
venv/
env/
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ====== Base de Datos ======
*.sqlite3
*.db
backend/tech4u.db

# ====== Frontend (Vite/React) ======
frontend/dist/
frontend/build/
frontend/.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ====== IDEs y OS ======
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
